body { 
    width: 100%;
    height: 1024px;
    background:#2a9d8f !important;
    background-repeat: no-repeat;
}

#post_list {
    margin-top: 100px;
}

.my_card {
    border-color: #264653 !important;
    background:  #264653 !important;
    color: whitesmoke !important;
}

.card-header {
    border: none !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-footer {
    border: none !important;
    text-align: end;
}


a{
    text-decoration: none !important;
    border: none;
}

#login-logout {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 20%;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 13%;
}